.node
  table
    tr
      td
        p Nombre: 
      td
        p= node.name
    tr
      td
        p Descripcion: 
      td
        p= node.description
    tr
      td
        p URL: 
      td
        p= node.sitio
    tr
      td
        p Twitter: 
      td
        p= node.twitter
    tr
      td
        p Facebook: 
      td
        p= node.facebook
    tr
      td
        p Tags: 
      td 
        p= node.tags
