.container-fluid
  .row-fluid
    .span3
      .panel
        .panel-heading
          h3.panel-title Tags
        ul.list-group.list-group-flush
          -tags.shift()
          each _tag in tags
            li.list-group-item
              a(href="#segmentation?tag=#{_tag}") #{_tag}
    .span9      
      .row-fluid
        .span3
          .panel
            .panel-heading
              h3.panel-title #{tag}
            ul.list-group.list-group-flush
              each t in taggedSet
                li.list-group-item      
                  p #{t}
        
        .span9
          .panel.panel-primary
            .panel-heading
              h3.panel-title #{tag}
            .btn-group#mode-nav
              a.btn.btn-default(type="button", href="#segmentation?tag=#{tag}&m=terms") Terms
              a.btn.btn-default.active(type="button", href="#segmentation?tag=#{tag}&m=shingles") Shingles
              a.btn.btn-default(type="button", href="#segmentation?tag=#{tag}&m=links") Links
            button(type="button", class="btn btn-primary pull-right") Clean up
            table.terms.table.table-condensed
              each t, i in terms
                tr
                  td.pos
                    p #{i+1}&nbsp;
                  td.term
                    -if(['terms', 'shingles'].indexOf(mode) > -1)
                      a(href='/twitter/#{mode}/#!/p=#{encodeURI(t.term)}') #{t.term}
                    -else if(mode == 'links')
                      a(href='#{t.term}', target='_blank') #{t.term}
                    -else
                      a(href='#') #{t.term}
                  td.count
                    p 
                      span.badge #{t.count}
                  td.action
                    include actions
                  -if(showTags)
                    td.tags
                      form
                        ul.tagging
                          -if(t.tags)
                            each tag in t.tags
                              li #{tag}