.container-fluid
  .row-fluid
    .span3
      .panel
        .panel-heading
          h3.panel-title Tags
        ul.list-group.list-group-flush
          -tags.shift()
          each _tag in tags
            li.list-group-item
              a(href="#segmentation?tag=#{_tag}") #{_tag}
    .span9
      .hero-unit.hidden
        h1 Hello, world!
        p 
          | This is a template for a simple marketing or informational 
          | website. It includes a large callout called the hero unit and 
          | three supporting pieces of content. Use it as a starting 
          | point to create something more unique.

        p
          a.btn.btn-primary.btn-largeLearn(href="#") more »
      
      .row-fluid
        .span3
          .panel
            .panel-heading
              h3.panel-title #{tag}
            ul.list-group.list-group-flush
              each t in taggedSet
                li.list-group-item      
                  p #{t}
        
        .span9
          .panel.panel-primary
            .panel-heading
              h3.panel-title #{tag}
            .btn-group
              button.btn.btn-default(type="button") Terms
              button.btn.btn-default.active(type="button") Shingles
              button.btn.btn-default(type="button") Links
            button(type="button", class="btn btn-primary pull-right") Clean up
            table.terms.table.table-condensed
              each t, i in terms
                tr
                  td.pos
                    p #{i+1}&nbsp;
                  td.term
                    -if(mode)
                      a(href='/twitter/#{mode}/#!/p=#{encodeURI(t.term)}') #{t.term}
                    -else
                      a(href='#') #{t.term}
                  td.count
                    p 
                      span.badge #{t.count}
                  td.action
                    include actions
                  -if(showTags)
                    td.tags
                      form
                        ul.tagging
                          -if(t.tags)
                            each tag in t.tags
                              li #{tag}

        .span4.hidden
          h2 Heading
          p 
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View details »
        
      
      .row-fluid.hidden
        .span4
          h2 Heading
          p 
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View details »
        
        .span4
          h2 Heading
          p 
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View details »
        
        .span4
          h2 Heading
          p 
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
          p
            a.btn(href="#") View details »