ul.terms
  each t, i in terms
    li.term-item
      .pos
        p #{i+1}.&nbsp;
      .term
        -if(mode)
          a(href='/twitter/#{mode}/#!/p=#{encodeURI(t.term)}') #{t.term}
        -else
          a(href='#') #{t.term}
      .count
        p #{t.count}
      .action
        include actions
      -if(showTags)
        .tags
          form
            ul.tagging
              -if(t.tags)
                each tag in t.tags
                  li #{tag}