ul.terms
  each t, i in terms
    li.term-item
      .pos
        p #{i+1}.&nbsp;
      .term
        -if(type)
          a(href='/twitter/#{type}/#!/p=#{encodeURI(t.term)}') #{t.term}
        -else
          a(href='#') #{t.term}
      .count
        p #{t.count}
      .action
        include actions
      -if(tags)
        .tags
          form
            ul.tagging
              -if(tags[t.term])
                each tag in tags[t.term].split(',')
                  li #{tag}