ul.terms
  each t, i in terms
    li.term-item
      .pos
        p #{i+1}.&nbsp;
      .term
        a(href='?q=#{t.term}') #{t.term}
      .count
        p #{t.count}
      .action
        a(href="#{exc_inc}") #{exc_inc}
      .tags
        form
          ul.tagging
            -if(tags[t.term])
              each tag in tags[t.term].split(',')
                li #{tag}