ul.terms
  each t, i in terms
    li.term-item
      .pos
        p #{i+1}.&nbsp;
      .term
        a(href='/twitter/#{type}/#!/p=#{encodeURI(t.term)}') #{t.term}
      .count
        p #{t.count}
      .action
        a(href="#{exc_inc}") #{exc_inc}
      -if(tags)
        .tags
          form
            ul.tagging
              -if(tags[t.term])
                each tag in tags[t.term].split(',')
                  li #{tag}