div.node-card(id="node-#{node._id}", style="display:none;")
  h2 #{node.name}
  .node-data
    .element.description
      label Descripción
      p #{node.description}
    .element.url
      label Website
      a(href="#{node.url}", target='_blank') #{node.url}
    .element.twitter
      label Twitter
      a(target='_blank') #{node.twitter}
    .element.facebook
      label Facebook
      a(target='_blank') #{node.facebook}
    .element.tags
      label Tags
      p #{node.tags}
    .element.button.back
      button Volver

